@import './styles/banner.css';
@import './styles/cards.css';
@import './styles/buttons.css';
@import './styles/footer.css';

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  --color-main: white;
  --color-contrast-text: #070b33;
}
